.parrafo{
	font-size: 50px;
	color: #EACFF2;
	text-align: center;
	font-family: "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap";
}
h1{
	background-color: #C19CD7;
	color: #907C9C;
	text-align: center;
	font-size: 80px;
	font-family: "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap";
}